body {
    /*画方格背景*/
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==");
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
    min-height: 100vh;
    margin: 0;
}
h1 {
    text-align:center;
    font-size:75px;
    border-style:none none solid none
}
div.buttonBox {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-style:solid 10px;
}
#boxAnsw {
    margin:50px 240px;
}
button {
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    border-radius:16px;
    width:180px;
    height:90px;
}
button:disabled
{
    opacity:0.4;
    cursor:not-allowed;
}
#boxActions {	
    margin:50px 100px;
}
#btnPrv:hover {
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 34px 0 rgba(0,0,0,0.19);
    transition-duration:0.2s;
}
#btnNxt:hover {
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 34px 0 rgba(0,0,0,0.19);
    transition-duration:0.2s;
}
#btnYes:hover, #btnYes:active {
    background-color:#4caf50;
    color:white;
    transition-duration:0.3s
}
#btnNo:hover {
    background-color:#f44336;
    color:white;
    transition-duration:0.3s
}
#boxQuestions {
    margin:0 auto;
    width:85%;
    height:75%;
    border:5px solid #000;
    border-radius:28px;
}
p.label {
    font-size:35px;
    text-align:center;
}
p.txtBox {
    margin:0px auto;
    padding-bottom:25px;
    font-size:42px;
    text-align:center;
    width:90%;
    border-style:none none solid none;
}
div.boxResults {
    margin:15px auto;
}
div.resultLabel {
    position:relative;
    display:inline;
    padding:4px 6px;
    height:50%;
    border:2px solid #000066;
    background-color:#000033;
    color:white;
    border-radius:4px;
    font-size:24px;
    z-index:2;
}
div.resultBar {
    position:relative;
    left:-12px;
    display:inline;
    border-style:solid solid solid none;
    border-radius:8px;
    width:100%;
    font-size:24px;
    background-color:gray;
    z-index:1;
}
